RewriteEngine On

# Nếu file hoặc thư mục không tồn tại
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng toàn bộ request về index.php
RewriteRule ^(.*)$ index.php [QSA,L]